<main class="2xl:grid-cols-3 xl:grid-cols-2 grid h-screen">
  <!-- col 1: forms -->
  <div class="flex flex-col justify-center px-24 bg-gray-600">
    <ng-content></ng-content>
  </div>
  <!-- TOOD: col 2 and 3 -->
</main>
