<!-- TODO: Some statistics -->

<div class="p-4 border rounded" *ngFor="let user of users">
  <div>ID: {{ user._id }}</div>
  <div>Username: {{ user.username }}</div>
  <div>Email: {{ user.email }}</div>
</div>
