<app-auth-view-container>
  <div class="space-y-4">
    <div class="text-white">
      {{ "auth.signinQuestion" | translate }}
      <a class="link" [routerLink]="['/signin']">
        {{ "app.signin" | translate }}
      </a>
    </div>
    <h2 class="text-3xl font-semibold text-white">
      {{ "auth.signupHeading" | translate }}
    </h2>
    <app-error-alert
      class="block"
      [errorMessage]="this.errorMessage"
      (closed)="onErrorAlertClose()"
      *ngIf="this.isErrorAlertVisible"
    ></app-error-alert>
    <form class="space-y-2" [formGroup]="form" (ngSubmit)="signup()">
      <!-- username -->
      <div class="flex flex-col">
        <label class="input-label">
          {{ "auth.username" | translate }}
        </label>
        <input
          class="input w-full"
          [ngClass]="{
            'border-red-400':
              form.get('username')?.invalid &&
              form.get('username')?.touched &&
              form.get('username')?.dirty
          }"
          type="text"
          placeholder="{{ 'auth.username' | translate }}"
          formControlName="username"
          required
        />
        <span class="input-help">
          {{ "auth.usernameHelp" | translate }}
        </span>
      </div>
      <!-- email -->
      <div class="flex flex-col">
        <label class="input-label">
          {{ "auth.email" | translate }}
        </label>
        <input
          class="input w-full"
          [ngClass]="{
            'border-red-400':
              form.get('email')?.invalid &&
              form.get('email')?.touched &&
              form.get('email')?.dirty
          }"
          placeholder="{{ 'auth.email' | translate }}"
          formControlName="email"
          required
        />
      </div>
      <!-- password -->
      <div class="flex flex-col">
        <label class="input-label">{{ "auth.password" | translate }}</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-400"
            (click)="togglePasswordVisibility()"
          >
            <!-- open eye svg -->
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              *ngIf="!isPasswordVisible; else crossedEyeSvg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              ></path>
            </svg>
            <!-- crossed eye svg -->
            <ng-template #crossedEyeSvg>
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
                ></path>
              </svg>
            </ng-template>
          </div>
          <input
            class="input w-full"
            [ngClass]="{
              'border-red-400':
                form.get('password')?.invalid &&
                form.get('password')?.touched &&
                form.get('password')?.dirty
            }"
            [type]="isPasswordVisible ? 'text' : 'password'"
            placeholder="{{ 'auth.password' | translate }}"
            formControlName="password"
            required
          />
        </div>
        <span class="input-help">
          {{ "auth.passwordHelp" | translate }}
        </span>
      </div>
      <!-- sign up button -->
      <div>
        <button
          class="btn-lg btn-primary w-full mt-6"
          [ngClass]="{ 'opacity-50 cursor-not-allowed': !form.valid }"
          type="submit"
          [disabled]="!form.valid"
        >
          {{ "app.signup" | translate }}
        </button>
      </div>
    </form>
  </div>
</app-auth-view-container>
