<div class="h-screen bg-gray-600">
  <div class="container-main">
    <form>
      <!-- heading -->
      <h2 class="heading-2">Create a new deck</h2>
      <p class="text-white">
        A deck contains all cards, including your study settings. You already
        have a deck elsewhere? <a class="link">Import a deck</a>.
      </p>
      <hr class="my-4" />
      <!-- project name -->
      <div>
        <div class="flex">
          <div class="flex flex-col">
            <label class="input-label" for="">Author</label>
            <input class="input" type="text" value="flys1ck" disabled />
          </div>
          <span class="flex items-end px-4 mb-1 text-2xl text-white">/</span>
          <div class="flex flex-col">
            <label class="input-label" for="">Deckname</label>
            <input class="input" type="text" />
          </div>
        </div>
        <span class="input-help">
          Name your decks after the topic you want to study.
        </span>
      </div>
      <!-- description -->
      <div class="flex flex-col">
        <label class="input-label" for="">Description</label>
        <input class="input" type="text" placeholder="Description" />
      </div>
      <hr class="my-4" />
      <!-- visibility -->
      <div class="space-y-2 text-white">
        <label class="input-label">Deck visibility</label>
        <div class="flex items-center space-x-2">
          <input
            id="public"
            type="radio"
            name="visibility"
            value="public"
            checked
          />
          <label class="inline-flex" for="public">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
            Public</label
          >
        </div>
        <div class="flex items-center space-x-2">
          <input id="private" type="radio" name="visibility" value="private" />
          <label class="inline-flex" for="private">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
              ></path>
            </svg>
            Private
          </label>
        </div>
      </div>
      <hr class="my-4" />
      <!-- submit button -->
      <button class="btn btn-primary">Create deck</button>
      <button class="btn btn-secondary">Cancel</button>
    </form>
  </div>
</div>
