<div class="flex items-center justify-between px-4 py-2 bg-gray-800 rounded-lg">
  <div class="flex space-x-4">
    <button class="text-emerald-600">
      <svg
        class="w-12 h-12"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
        ></path>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1"
          d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
    </button>
    <div class="leading-3">
      <h3 class="text-lg font-medium text-white">Deckname</h3>
      <span class="text-xs text-gray-300">Author: flys1ck</span>
    </div>
  </div>
  <div class="flex space-x-2 text-white">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
      ></path>
    </svg>
    <span class="">35 Karten</span>
  </div>
  <div class="flex space-x-2 font-medium text-white">
    <div class="px-2 py-1 bg-purple-800 rounded">12</div>
    <div class="px-2 py-1 bg-blue-800 rounded">12</div>
    <div class="px-2 py-1 bg-blue-600 rounded">12</div>
    <div class="bg-emerald-500 px-2 py-1 rounded">12</div>
    <div class="px-2 py-1 bg-green-800 rounded">12</div>
  </div>
  <button class="text-emerald-600">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
      ></path>
    </svg>
  </button>
</div>
