<header
  class="sticky top-0 flex items-center justify-between px-12 py-6 text-white bg-gray-700 shadow-xl"
>
  <!-- static nav links -->
  <div class="flex items-center space-x-8">
    <a class="text-2xl font-medium" routerLink="">Flashcards</a>
    <a class="nav-link" routerLink="decks">Decks</a>
    <a class="nav-link">Cards</a>
  </div>
  <!-- dynamic nav links (changes if user is signed in) -->
  <nav class="flex items-center space-x-8">
    <div class="flex space-x-2" *ngIf="isSignedIn; else authLinks">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <span>My User</span>
    </div>
    <ng-template #authLinks>
      <a class="nav-link" routerLink="signin">Sign In</a>
      <a class="btn btn-primary" routerLink="signup">Sign Up</a>
    </ng-template>
  </nav>
</header>
