<main class="xl:grid-cols-2 xl:grid h-screen gap-12 px-12 py-8 bg-gray-600">
  <!-- col 1 -->
  <div class="space-y-2">
    <div class="flex justify-between">
      <h2 class="heading-2">Decks</h2>
      <button class="btn btn-secondary flex items-center" routerLink="new">
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6v6m0 0v6m0-6h6m-6 0H6"
          ></path>
        </svg>
        New deck
      </button>
    </div>
    <hr />
    <div></div>
    <app-deck-card></app-deck-card>
    <app-deck-card></app-deck-card>
    <app-deck-card></app-deck-card>
    <app-deck-card></app-deck-card>
    <app-deck-card></app-deck-card>
  </div>
</main>
