@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

@layer components {
  .btn {
    @apply focus:ring px-2 py-1 text-lg font-medium text-white rounded;
  }

  .btn-lg {
    @apply focus:ring px-3 py-3 text-xl font-medium text-white rounded;
  }

  .btn-primary {
    @apply bg-gradient-to-br from-blue-800 to-emerald-500;
  }

  .btn-secondary {
  }

  .container-main {
    @apply container py-8 mx-auto;
  }

  .container-nav {
  }

  .heading-2 {
    @apply text-3xl font-semibold text-white;
  }

  .input {
    @apply focus:ring-2 px-2 py-1 border-2 rounded;
  }

  .input-lg {
    @apply focus:ring-2 px-3 py-3 text-lg border-2 rounded;
  }

  .input-help {
    @apply text-xs text-gray-300;
  }

  .input-label {
    @apply font-extralight text-white;
  }

  .link {
    @apply hover:underline text-emerald-400 font-medium;
  }

  .nav-link {
    @apply text-lg text-white;
  }
}
