<div
  class="flex items-stretch w-full bg-gray-800 border-l-4 border-red-500 rounded"
>
  <div class="flex items-center px-4 text-red-500">
    <svg
      class="w-8 h-8"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
  </div>
  <div class="flex-1 py-2 leading-3">
    <h3 class="text-xl text-white">
      {{ "app.error" | translate }}
    </h3>
    <span class="text-sm text-gray-300">{{ errorMessage }}</span>
  </div>
  <button
    class="px-4 text-xs text-gray-300 uppercase border-l border-gray-300"
    (click)="close()"
  >
    {{ "app.close" | translate }}
  </button>
</div>
